<h2> Estadísticas </h2>
<p>número de preguntas: <%= numPreg  %></p>
<p>total de comentarios: <%=  numComen %></p>
<p>comentarios por pregunta: <%= comenxpreg  %></p>
<p>preguntas sin comentarios: <%= sinComen  %></p>
<p>preguntas con comentarios: <%=  conComen %></p>
